In [5]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn import metrics
import matplotlib.pyplot as plt
import scipy.stats as stats
from sklearn.model_selection import train_test_split 

pd.set_option('display.width',100000)
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

In [4]:
#Read CSV file and pull from dataset
train_set = "../datasets/train.csv"
train_df = pd.read_csv(train_set, low_memory=False)

In [6]:
train_df.head()

       id Tranc_YearMonth             town  flat_type block       street_name storey_range  floor_area_sqm  flat_model  lease_commence_date  resale_price  Tranc_Year  Tranc_Month  mid_storey  lower  upper  mid       full_flat_type               address  floor_area_sqft  price_per_sqft  hdb_age  max_floor_lvl  year_completed residential commercial market_hawker multistorey_carpark precinct_pavilion  total_dwelling_units  1room_sold  2room_sold  3room_sold  4room_sold  5room_sold  exec_sold  multigen_sold  studio_apartment_sold  1room_rental  2room_rental  3room_rental  other_room_rental  postal  Latitude   Longitude planning_area  Mall_Nearest_Distance  Mall_Within_500m  Mall_Within_1km  Mall_Within_2km  Hawker_Nearest_Distance  Hawker_Within_500m  Hawker_Within_1km  Hawker_Within_2km  hawker_food_stalls  hawker_market_stalls  mrt_nearest_distance     mrt_name  bus_interchange  mrt_interchange  mrt_latitude  mrt_longitude  bus_stop_nearest_distance             bus_stop_name  bus_stop_latitude  bus_stop_longitude  pri_sch_nearest_distance                           pri_sch_name  vacancy  pri_sch_affiliation  pri_sch_latitude  pri_sch_longitude  sec_sch_nearest_dist                             sec_sch_name  cutoff_point  affiliation  sec_sch_latitude  sec_sch_longitude
0   88471         2016-05  KALLANG/WHAMPOA     4 ROOM    3B  UPP BOON KENG RD     10 TO 12            90.0     Model A                 2006      680000.0        2016            5          11     10     12   11       4 ROOM Model A  3B, UPP BOON KENG RD          968.760      701.928238       15             25            2005           Y          N             N                   N                 N                   142           0           0           0          96          46          0              0                      0             0             0             0                  0  382003  1.314299  103.872828       Kallang            1094.090418               NaN              NaN              7.0               154.753357                 1.0                3.0               13.0                  84                    60            330.083069      Kallang                0                0      1.311540     103.871731                  29.427395                    Blk 3B           1.314433          103.872600               1138.633422               Geylang Methodist School       78                    1          1.317659         103.882504           1138.633422                 Geylang Methodist School           224            0          1.317659         103.882504
1  122598         2012-07           BISHAN     5 ROOM   153      BISHAN ST 13     07 TO 09           130.0    Improved                 1987      665000.0        2012            7           8      7      9    8      5 ROOM Improved     153, BISHAN ST 13         1399.320      475.230826       34              9            1987           Y          N             N                   N                 N                   112           0           0           0          56          56          0              0                      0             0             0             0                  0  570153  1.346086  103.855078        Bishan             866.941448               NaN              1.0              3.0               640.151925                 NaN                1.0                7.0                  80                    77            903.659703       Bishan                1                1      1.350580     103.848305                  58.207761              BLK 151A MKT           1.345659          103.855381                415.607357  Kuo Chuan Presbyterian Primary School       45                    1          1.349783         103.854529            447.894399  Kuo Chuan Presbyterian Secondary School           232            0          1.350110         103.854892
2  170897         2013-07      BUKIT BATOK  EXECUTIVE  289B    BT BATOK ST 25     13 TO 15           144.0   Apartment                 1997      838000.0        2013            7          14     13     15   14  EXECUTIVE Apartment  289B, BT BATOK ST 25         1550.016      540.639580       24             16            1996           Y          N             N                   N                 N                    90           0           0           0           0          30         60              0                      0             0             0             0                  0  651289  1.343867  103.760535   Bukit Batok            1459.579948               NaN              NaN              4.0              1762.082341                 NaN                NaN                1.0                  84                    95           1334.251197  Bukit Batok                1                0      1.349561     103.749970                 214.747860                  Blk 289E           1.344064          103.758613                498.849039                  Keming Primary School       39                    0          1.345245         103.756265            180.074558             Yusof Ishak Secondary School           188            0          1.342334         103.760013
3   86070         2012-04           BISHAN     4 ROOM   232      BISHAN ST 22     01 TO 05           103.0     Model A                 1992      550000.0        2012            4           3      1      5    3       4 ROOM Model A     232, BISHAN ST 22         1108.692      496.080066       29             11            1990           Y          Y             N                   N                 N                    75           0           0           0          68           7          0              0                      0             0             0             0                  0  570232  1.358245  103.845504        Bishan             950.175199               NaN              1.0              4.0               726.215262                 NaN                1.0                9.0                  32                    86            907.453484       Bishan                1                1      1.350580     103.848305                  43.396521  Opp Bishan Nth Shop Mall           1.358045          103.845169                389.515528                   Catholic High School       20                    1          1.354789         103.844934            389.515528                     Catholic High School           253            1          1.354789         103.844934
4  153632         2017-12           YISHUN     4 ROOM   876      YISHUN ST 81     01 TO 03            83.0  Simplified                 1987      298000.0        2017           12           2      1      3    2    4 ROOM Simplified     876, YISHUN ST 81          893.412      333.552717       34              4            1987           Y          N             N                   N                 N                    48           0           0           0          30          18          0              0                      0             0             0             0                  0  760876  1.414745  103.835532        Yishun             729.771895               NaN              1.0              2.0              1540.151439                 NaN                NaN                1.0                  45                     0            412.343032       Khatib                0                0      1.417131     103.832692                 129.422752                   Blk 873           1.415424          103.836477                401.200584              Naval Base Primary School       74                    0          1.416280         103.838798            312.025435             Orchid Park Secondary School           208            0          1.414888         103.838335